<div id="order-history-section">
  <h4>Your Clients</h4>
  <% if @clients.any? %>
    <% @clients.each do |client| %>
      <div class="mb-4">
        <%= link_to client_path(client), class: "text-decoration-none text-reset" do %>
          <%= render "clients/show/card", client: client %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>You have clients yet.</p>
  <% end %>
</div>
