<div id="order-history-section" class="content-section d-none" data-user-sidebar-target="ordersSection">
  <h4>Your Orders</h4>
  <% if @orders.any? %>
    <div class="row mt-4">
      <%= render partial: "users/sidebar/order", collection: @orders %>
    </div>
  <% else %>
    <p>You have no orders yet.</p>
  <% end %>
</div>
