---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/clients/cli_9d0KbF38qp7MlxXu/authorize
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52ec74c3dfac271b750b287cccdcb16e"
    body:
      encoding: UTF-8
      string: '{"email":null,"id":"cli_9d0KbF38qp7MlxXu","created_at":1765924290,"description":null,"card":{"company":"VI","last4":"0006","year":2028,"month":1,"first_name":"John","last_name":"Doe","authorized":true,"issuer_response_code":"00","card_identifier":"cid_9cfzW0qxuoyOOi5h","created_at":1765924293},"deleted":false}'
  recorded_at: Tue, 16 Dec 2025 22:34:29 GMT
recorded_with: VCR 6.3.1
