---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/charges/init
    body:
      encoding: UTF-8
      string: '{"amount":"10.0","currency":"PLN","description":"pay_c053146b-7766-4c34-8427-16a64b53b3b9"}'
    headers:
      Authorization:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4931e3ea95097be6e52e6158f9706f41"
    body:
      encoding: UTF-8
      string: '{"id":"pay_a29QPwCfuoCJKkOB","description":"pay_c053146b-7766-4c34-8427-16a64b53b3b9","channel":"elavon","amount":"10.00","currency":"PLN","state":"new","client":"cli_a29Gq1I1lRjbMDO4","created_at":1769339898,"payment_token":"0728fb72-db08-4288-9e77-c30400e868bb"}'
  recorded_at: Sun, 25 Jan 2026 11:18:18 GMT
recorded_with: VCR 6.3.1
