---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/secure_web_page_register
    body:
      encoding: UTF-8
      string: '{"amount":"10.0","currency":"PLN","kind":"sale","title":"pay_839e4484-e4d6-4a70-9d8a-d11cb543aa13","description":"pay_839e4484-e4d6-4a70-9d8a-d11cb543aa13","positive_url":"http://localhost:3001/payments/pay_839e4484-e4d6-4a70-9d8a-d11cb543aa13/success","negative_url":"http://localhost:3001/payments/pay_839e4484-e4d6-4a70-9d8a-d11cb543aa13/rejected","session_id":"0af5eccb72fde66c91bbb847cc8b2ead","checksum":"a0dcbcfb59f1a48cb879830d34bd33c0","cof":"storing"}'
    headers:
      Authorization:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0cc67275f4113d55733d92e7ee939d99"
    body:
      encoding: UTF-8
      string: '{"id":"pay_9d0UKn7Ja4bY4ZF0","description":"pay_839e4484-e4d6-4a70-9d8a-d11cb543aa13","channel":"elavon","amount":"10.00","currency":"PLN","state":"new","client":"cli_9d0hfJ36vJbz50hG","created_at":1765832815,"redirect_url":"https://sandbox.espago.com/secure_web_page/pay_9d0UKn7Ja4bY4ZF0"}'
  recorded_at: Mon, 15 Dec 2025 21:06:55 GMT
recorded_with: VCR 6.3.1
