---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/charges
    body:
      encoding: UTF-8
      string: '{"amount":"10.0","currency":"PLN","description":"pay_7b0cea51-ebce-41bd-922b-1d5121eb38ec","positive_url":"http://localhost:3001/payments/pay_7b0cea51-ebce-41bd-922b-1d5121eb38ec/success","negative_url":"http://localhost:3001/payments/pay_7b0cea51-ebce-41bd-922b-1d5121eb38ec/rejected","client":"cli_9d05-phkJnJOajc0"}'
    headers:
      Authorization:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56c038a02bbf6b395bb5195a52b149b0"
    body:
      encoding: UTF-8
      string: '{"id":"pay_9d0o1XDgiIi4qxda","description":"pay_7b0cea51-ebce-41bd-922b-1d5121eb38ec","channel":"elavon","amount":"10.00","currency":"PLN","state":"new","client":"cli_9d05-phkJnJOajc0","created_at":1765832082,"card":{"company":"VI","last4":"0006","year":2028,"month":1,"first_name":"John","last_name":"Doe","authorized":null,"card_identifier":"cid_9cfzW0qxuoyOOi5h","created_at":1765831439},"issuer_response_code":"","transaction_id":"tr_9d02K06fd","redirect_url":"https://sandbox.espago.com/secure_web_page/pay_9d0o1XDgiIi4qxda","tokenization_used":false}'
  recorded_at: Mon, 15 Dec 2025 20:54:42 GMT
recorded_with: VCR 6.3.1
