---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/charges
    body:
      encoding: UTF-8
      string: '{"channel":"elavon_google_pay","amount":"10.0","currency":"PLN","description":"pay_d94b6be7-ed39-4129-aa42-3a120425a663","positive_url":"http://localhost:3001/payments/pay_d94b6be7-ed39-4129-aa42-3a120425a663/success","negative_url":"http://localhost:3001/payments/pay_d94b6be7-ed39-4129-aa42-3a120425a663/rejected","google_pay":{"authMethod":"PAN_ONLY","pan":"4111111111111111","expirationYear":"2027-01-25
        18:32:49 UTC","expirationMonth":1}}'
    headers:
      Authorization:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8f96cb90e82e4cfb92a88002e0f7cb5"
    body:
      encoding: UTF-8
      string: '{"id":"pay_a29bTQ-pchs03bN-","description":"pay_d94b6be7-ed39-4129-aa42-3a120425a663","channel":"elavon_google_pay","amount":"10.00","currency":"PLN","state":"new","client":"cli_a29xRb-1UQWu8tT9","created_at":1769365969,"card":{"company":"VI","last4":"1111","year":2027,"month":1,"created_at":1769365969},"issuer_response_code":"","transaction_id":"tr_a299Wx6d8","redirect_url":"https://sandbox.espago.com/secure_web_page/pay_a29bTQ-pchs03bN-"}'
  recorded_at: Sun, 25 Jan 2026 18:32:50 GMT
recorded_with: VCR 6.3.1
