---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/charges
    body:
      encoding: UTF-8
      string: '{"amount":"10.0","currency":"PLN","description":"pay_cd25e430-520b-431d-bfdc-c34eb9633af3","positive_url":"http://localhost:3001/payments/pay_cd25e430-520b-431d-bfdc-c34eb9633af3/success","negative_url":"http://localhost:3001/payments/pay_cd25e430-520b-431d-bfdc-c34eb9633af3/rejected","card":"cc_9d0R4wtk6xkPEV67p"}'
    headers:
      Authorization:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b6047ea4bbe223ed8e5ca7d3ec1220b"
    body:
      encoding: UTF-8
      string: '{"id":"pay_9d0SAMSnhzJWBgQo","description":"pay_cd25e430-520b-431d-bfdc-c34eb9633af3","channel":"elavon","amount":"10.00","currency":"PLN","state":"new","client":"cli_9d03IZ8198somaP4","created_at":1765830244,"card":{"company":"VI","last4":"4242","year":2030,"month":1,"first_name":"Jan","last_name":"Kowalski","authorized":null,"card_identifier":"cid_9cfZYuzBVOb9GNMr","created_at":1765830150},"issuer_response_code":"","transaction_id":"tr_9d0eqTLjl","redirect_url":"https://sandbox.espago.com/secure_web_page/pay_9d0SAMSnhzJWBgQo","tokenization_used":false}'
  recorded_at: Mon, 15 Dec 2025 20:24:04 GMT
recorded_with: VCR 6.3.1
