---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/secure_web_page_register
    body:
      encoding: UTF-8
      string: '{"amount":"10.0","currency":"PLN","kind":"sale","title":"pay_7d27b3ec-4217-4850-82e5-3b91f733a5b7","description":"pay_7d27b3ec-4217-4850-82e5-3b91f733a5b7","positive_url":"http://localhost:3001/payments/pay_7d27b3ec-4217-4850-82e5-3b91f733a5b7/success","negative_url":"http://localhost:3001/payments/pay_7d27b3ec-4217-4850-82e5-3b91f733a5b7/rejected","session_id":"96dacedd2bb696e456a7d473870c04e9","checksum":"bcad2b2ad625050291f180dd62028551"}'
    headers:
      Authorization:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d07aef106d39152067107103e219add7"
    body:
      encoding: UTF-8
      string: '{"id":"pay_9d051aEMj96TCoNC","description":"pay_7d27b3ec-4217-4850-82e5-3b91f733a5b7","channel":"elavon","amount":"10.00","currency":"PLN","state":"new","client":"cli_9d0AqnuxuAdaBguA","created_at":1765829499,"redirect_url":"https://sandbox.espago.com/secure_web_page/pay_9d051aEMj96TCoNC"}'
  recorded_at: Mon, 15 Dec 2025 20:11:39 GMT
recorded_with: VCR 6.3.1
