---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/charges
    body:
      encoding: UTF-8
      string: '{"channel":"elavon_apple_pay","amount":"10.0","currency":"PLN","description":"pay_8e88876f-9976-434d-9aa7-fbaebbe904e0","positive_url":"http://localhost:3001/payments/pay_8e88876f-9976-434d-9aa7-fbaebbe904e0/success","negative_url":"http://localhost:3001/payments/pay_8e88876f-9976-434d-9aa7-fbaebbe904e0/rejected","apple_pay":{"applicationPrimaryAccountNumber":"4012000000020006","applicationExpirationDate":"270126","onlinePaymentCryptogram":"p0OLurz61yKfROy808cg+FqXnCQ=","eciIndicator":"05"}}'
    headers:
      Authorization:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56072db6a8eb92a8b2be59e63114e2bb"
    body:
      encoding: UTF-8
      string: '{"id":"pay_a29zMWhroJ8j9BZv","description":"pay_8e88876f-9976-434d-9aa7-fbaebbe904e0","channel":"elavon_apple_pay","amount":"10.00","currency":"PLN","state":"executed","client":"cli_a29rum540IdMdLQG","created_at":1769437916,"apple_pay_application":{"company":"VI","pan_last4":"0006","exp_year":2027,"exp_month":1,"created_at":1769437916},"issuer_response_code":"00","reversable":true,"transaction_id":"tr_a29z2FyMa"}'
  recorded_at: Mon, 26 Jan 2026 14:31:57 GMT
- request:
    method: get
    uri: https://sandbox.espago.com/api/charges/pay_a29zMWhroJ8j9BZv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56072db6a8eb92a8b2be59e63114e2bb"
    body:
      encoding: UTF-8
      string: '{"id":"pay_a29zMWhroJ8j9BZv","description":"pay_8e88876f-9976-434d-9aa7-fbaebbe904e0","channel":"elavon_apple_pay","amount":"10.00","currency":"PLN","state":"executed","client":"cli_a29rum540IdMdLQG","created_at":1769437916,"apple_pay_application":{"company":"VI","pan_last4":"0006","exp_year":2027,"exp_month":1,"created_at":1769437916},"issuer_response_code":"00","reversable":true,"transaction_id":"tr_a29z2FyMa"}'
  recorded_at: Mon, 26 Jan 2026 14:31:57 GMT
recorded_with: VCR 6.3.1
