---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/charges
    body:
      encoding: UTF-8
      string: '{"amount":"4.99","currency":"PLN","description":"pay_f7bf4d9c-b4c0-4723-87bd-af38c6b8e5c1","positive_url":"http://localhost:3001/payments/pay_f7bf4d9c-b4c0-4723-87bd-af38c6b8e5c1/success","negative_url":"http://localhost:3001/payments/pay_f7bf4d9c-b4c0-4723-87bd-af38c6b8e5c1/rejected","client":"cli_9d05-phkJnJOajc0","cof":"recurring"}'
    headers:
      Authorization:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e4dc0e92ad3266cf34a64d2d147fc55"
    body:
      encoding: UTF-8
      string: '{"id":"pay_9d0A9BgsLr9j0oLv","description":"pay_f7bf4d9c-b4c0-4723-87bd-af38c6b8e5c1","channel":"elavon","amount":"4.99","currency":"PLN","state":"executed","client":"cli_9d05-phkJnJOajc0","created_at":1766667877,"card":{"company":"VI","last4":"0006","year":2028,"month":1,"first_name":"John","last_name":"Doe","authorized":null,"card_identifier":"cid_9cfzW0qxuoyOOi5h","created_at":1765831439},"issuer_response_code":"00","reversable":true,"cof":"recurring","transaction_id":"tr_9d0FfLYzK","tokenization_used":false}'
  recorded_at: Thu, 25 Dec 2025 13:04:38 GMT
recorded_with: VCR 6.3.1
