---
http_interactions:
- request:
    method: delete
    uri: https://sandbox.espago.com/api/charges/pay_9d0MB60taOJrWmqn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"518cec78d6130a3e097bb7872ee56e8a"
    body:
      encoding: UTF-8
      string: '{"id":"pay_9d0MB60taOJrWmqn","description":"pay_d7c01a2b-ef0e-41a0-985e-20350e6fa98c","channel":"elavon","amount":"12.50","currency":"PLN","state":"reversed","client":"cli_9d0qBIJUvl4-q1l6","created_at":1765837492,"card":{"company":"VI","last4":"0006","year":2028,"month":1,"first_name":"John","last_name":"Doe","authorized":null,"card_identifier":"cid_9cfzW0qxuoyOOi5h","created_at":1765837494},"issuer_response_code":"00","transaction_id":"tr_9d0dZI3BP","tokenization_used":false}'
  recorded_at: Mon, 15 Dec 2025 22:27:12 GMT
recorded_with: VCR 6.3.1
