services:
  web:
    build: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - redis

  sidekiq:
    build: .
    command: bundle exec sidekiq
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7.2
    volumes:
      - redisdata:/data

volumes:
  redisdata:
