<div class="d-flex justify-content-between mb-2">
  <strong>Primary:</strong>
  <% if @client.mit? %>
    <%= form_with url: toggle_primary_espago_client_path(@client), method: :patch, remote: true, class: "d-inline mb-0" do |f| %>
      <div class="form-check form-switch">
        <%= f.check_box :primary, checked: @client.primary, class: "form-check-input", onchange: "this.form.submit();" %>
      </div>
    <% end %>
  <% elsif @client.cit? %>
    Verification Required
  <% end %>
</div>