<%= turbo_stream_from @user %>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-12 mb-3">
      <%= render 'sidebar' %>
    </div>
    <div class="col-lg-9 col-12">
      <%= turbo_frame_tag "account_content" do %>
        <%= render 'account_content', section: @section %>
      <% end %>
    </div>
  </div>
</div>
