<div id="flash" class='position-fixed top-0 start-50 mt-4'>
  <% flash.each do |type, message| %>
    <% alert_type = type == 'notice' ? 'alert-success' : 'alert-danger' %>
    <div class="alert <%= alert_type %> alert-dismissible fade show align-items-center shadow flash-message" role="alert"
         data-controller="flash"
         data-action="animationend->flash#remove">
      <div><%= message %></div>
      <button type="button" class="btn-close ms-auto" data-action="flash#remove" aria-label="Close"></button>
    </div>
  <% end %>
</div>