<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
  <div class="d-flex align-items-center">
    <h3>
      <%= @client.uuid %>
    </h3>
    <h5 class='ms-2'>
      <% if @client.primary? %>
        <span class="badge bg-success">Primary</span>
      <% end %>
    </h5>
  </div>
  <div class="d-flex align-items-center">
    <%= link_to "Back to Payment Methods", account_clients_path, class: "btn btn-primary me-2" %>
    <% if !@client.mit? %>
      <%= link_to "Verify", verify_espago_client_path(@client), class: "btn btn-success me-2" %>
    <% end %>
  </div>
</div>