<div class="container" style="max-width: 480px">
  <div class="card shadow p-4">
    <h5 class="mb-4 text-center">Client Authorization</h5>
    <p class="mb-4 text-center">
      In order to authorize your Client for Auto-Renew functionality we need to perform a transaction for <strong>1PLN</strong>.
      <br>
      <br>
      The transaction will be reversed immedietly afterwards and your funds returned to your bank account.
      <br>
      <br>
      This is required in order to verify your card eligibility for Auto-Renew functionality.
    </p>
    <%= form_with url: authorize_client_path(@client) do |form| %>
      <%= form.submit "Authorize", class: "btn btn-primary w-100" %>
    <% end %>
  </div>
</div>