<div>
  <div class="row">
    <div class="col-lg-6 d-flex justify-content-between align-items-center">
      <strong>Status:</strong>
      <span class="badge <%= badge_class_for_status(order.status) %> w-50 text-center">
        <%= order.status %>
      </span>
    </div>
  </div>
</div>
