<div class="d-flex justify-content-between align-items-center">
  <strong>Status:</strong>
  <span class="badge <%= order_status_color(order.status) %> w-50 text-center">
    <%= order.status %>
  </span>
</div>
