<tr class="align-middle">
  <td><%= cart_item.title %></td>
  <td><%= number_to_currency(cart_item.price) %></td>
  <td><%= cart_item.quantity %></td>
  <td>
    <%= button_to cart_item_path(cart_item), method: :delete, class: "btn" do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </td>
</tr>
