<div class="d-flex align-items-center">
  <%= link_to "Back to Subscription", account_subscriptions_path,
            class: "btn btn-primary me-2" %>
  <% if @subscription.can_retry_payment? %>
    <%= button_to "Retry Payment", retry_payment_subscription_path(@subscription), method: :post, class: "btn btn-success me-2" %>
  <% end %>
</div>