<div class="container" style="max-width: 480px">
  <div class="card shadow p-4">
    <h5 class="mb-2 text-center">Purchase Membership</h5>
    <p class="mb-4 text-center">
      <strong>Price: $4.99 / month </strong>
    </p>
    <p class="mb-2">
      <strong style="color: #9B111E;">Membership</strong> grants you access to exclusive products as well as membership only discounts
    </p>
    <p class="mb-4">
      Your subscription lasts one month. You can renew your subscription manually or with saved Saved Payment Method.
    </p>
    <%= form_with model: @subscription do |form| %>
      <div class="mb-4">
        <%= form.label :email, "Email", class: "form-label" %>
        <%= form.email_field :email, value: current_user.email, class: "form-control", required: true %>
      </div>
      <%= form.submit "Go to Payment", class: "btn btn-primary w-100" %>
    <% end %>
  </div>
</div>