<div class="iframe3" data-controller="iframe3"
     data-iframe3-public-key-value="<%= @espago_public_key %>"
     data-iframe3-espago-payment-id-value="<%= @payment.espago_payment_id %>"
     data-iframe3-espago-payment-token-value="<%= @payment.espago_payment_token %>">
  <div>
    <p>Your payment is being processed...</p>
  </div>
</div>
