<div class="payment-page" data-controller="iframe3"
     data-iframe3-espago_payment-id-value="<%= @payment.espago_payment_id %>"
     data-iframe3-espago_payment-token-value="<%= @payment.espago_payment_token %>">
  <div class="payment-status mb-4">
    <p>Your payment is being processed...</p>
  </div>
</div>
