<div data-controller="payment"
     data-payment-public-key-value="<%= @espago_public_key %>"
     class="container"
     style="max-width: 480px">
  <div class="card p-4">
    <%= render "payments/new/form" %>
  </div>
</div>
<%= render "payments/new/form_apple_pay_modal" %>
