<div class="d-flex flex justify-content-end mb-4">
  <%= link_to "Back to Payable", polymorphic_url(@payment.payable),
            class: "btn btn-primary me-2" %>
</div>
<%= render 'payments/show/card', payment: @payment %>