<div class="row justify-content-center">
  <div class="col-lg-7">
    <%= render "form", parent_rubit: nil %>
    <hr>
    <div id="rubits">
      <%= render partial: "rubit", collection: @rubits %>
      <%= render partial: "next_page" %>
    </div>
  </div>
</div>
