<div class="row justify-content-center">
  <div class="col-lg-6">
    <div id="new_rubit_form">
      <%= render "form" %>
    </div>
    <hr>
    <div id="rubits">
      <%= render partial: "rubits/rubit", collection: @rubits %>
      <%= render partial: "next_page" %>
    </div>
  </div>
</div>
