<%= turbo_frame_tag "cart-items-count" do %>
  <% if current_user&.cart %>
    <% cart_count = current_user.cart.cart_items.sum(:quantity) %>
    <% if cart_count > 0 %>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cart-items-count">
        <%= cart_count %>
        <span class="visually-hidden">items in cart</span>
      </span>
    <% else %>
      <span id="cart-items-count"></span>
    <% end %>
  <% end %>
<% end %>